.question {
  border-bottom: 1px solid rgb(191, 191, 191);
  width: 100%;
  padding: 6px 0;
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 13px;
}
.question__user {
  display: flex;
  flex-direction: column;
}
.question__user span {
  margin: -5px 0 2px;
  padding: 0;
  font-size: 11px;
}

.MdAccountCircle {
  color: grey;
}
